.footer {
      max-width: 1440px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: var(--slateBlue-color);
      color: var(--grey-color);
      height: 40px;
      padding: 10px 20px;
      margin-top: 30px;
}

.footer:last-child {
      cursor: pointer;
}